<!doctype html>
<html ng-app="project">
    <head>
        <title>My Project</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#ed143d"/>

        <!-- Base tag for html5mode enabled -->
        <base href="/"/>

        <!-- Manifest file for PWA -->
        <link rel="manifest" href="/assets/manifest.json" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/assets/css/resp.css"/>
    </head>
    <body ng-controller="MainController">
        
        <button ng-click="list_view = !list_view" id="list_view">List view</button>

        <div class="mother">
            <div class="container" ng-class="{list: list_view}">
                <div id="item-{{ $index+1 }}" class="item" ng-repeat="i in items track by $index" ng-class="findClass($index+1)" ng-click="open($index+1)">
                    <div class="item-content">
                        {{ $index+1 }}

                        <div ng-if="list_view" class="tools"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Angular from here -->
        <script src="/assets/js/angular.min.js"></script>
        <script src="/assets/js/app.js"></script>
        <script src="/assets/js/controllers/MainController.js"></script>
    </body>
</html>