$item-width-num: 200;
$item-gap-num: 2;

$item-width: $item-width-num*1px;
$item-gap: $item-gap-num*1px;

$item-width-lg: ($item-width-num * 2 + $item-gap-num)*1px;

.container {
    display: grid;
    grid-template-columns: $item-width $item-width $item-width;
    grid-column-gap: $item-gap;
    grid-row-gap: $item-gap;
}
.item{
    background-color: crimson;
    color: white;
    height: $item-width;
    text-align: center;
    line-height:$item-width;
    font-weight:bold;
    font-family:arial;
    font-size:30px;
}
.item-left, .item-right{
    grid-column-end: span 2;
    grid-row-end: span 2;
    height: $item-width-lg;
    line-height: $item-width-lg;
}
.item-left{
    grid-column-start: 1;
}
.item-right{
    grid-column-start: 2;
}