html, body {
  margin:0;
  padding:0;
}
#list_view{
  position:fixed;
}
.mother{
  max-width: 900px;
  width: 100%;
  margin:50px auto;
  position: relative;
  overflow: hidden;
}
.container {
  display: grid;
  grid-template-columns: calc(100% / 3 - 7px) calc(100% / 3 - 7px) calc(100% / 3 - 7px);
  grid-column-gap: 1px;
  grid-row-gap: 1px;

  width: calc(100% + 19px);
}
.item {
  background-color: crimson;
  color: white;
  height: 0;
  position: relative;
  padding-bottom:100%;
  text-align: center;
  font-weight: bold;
  font-family: arial;
  overflow: hidden;
  font-size: 30px;
}
.item-left, .item-right {
  grid-column-end: span 2;
  grid-row-end: span 2;
}
.item-left {
  grid-column-start: 1;
}
.item-right {
  grid-column-start: 2;
}

.tools{
  position:absolute;
  bottom:0;
  right:0;
  left:0;
  height:30px;
  background-color:rgba(255,255,255,0.6);
}

.container.list{
  display: block;
  width: 100%;
}
.container.list .item{
  margin-bottom: 2px;
}