html, body {
  margin:0;
  padding:0;
}
.container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}
#list_view{
  position:fixed;
}

.item {
  background-color: crimson;
  color: white;
  height: 200px;
  text-align: center;
  line-height: 200px;
  font-weight: bold;
  font-family: arial;
  font-size: 30px; }

.item-left, .item-right {
  grid-column-end: span 2;
  grid-row-end: span 2;
  height: 402px;
  line-height: 402px; }

.item-left {
  grid-column-start: 1; }

.item-right {
  grid-column-start: 2; }
